.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem 0;
}
.portfolio > span:nth-child(1) {
    color: var(--orange);
    font-weight: 600;
    font-size: 3rem;
}
.portfolio > span:nth-child(2) {
    color: var(--black);
    font-weight: 600;
    font-size: 2rem;
}

.portfolio > .swiper {
    margin-top: 2rem;
    width: 100%;
    height: 300px;
    overflow: visible !important;
}
.portfolio > .swiper-slide {
    overflow: visible;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.5));
    height: 200px;
}
@media (max-width: 1200px) {
}
@media (max-width: 991px) {
    .portfolio {
        height: 45vh;
    }
}

@media (max-width: 767px) {
    .portfolio {
        height: 25rem;
    }
}
@media (max-width: 576px) {
    
}
